@import "variables";
@import "layout";
@import "headline";
@import "content";
@import "navbar";
@import "omnibox";
@import "main";
@import "table";
@import "dropdown";

@font-face {
  font-family: "Augusta";
  src: url("extensions/Alcuin/resources/fonts/augusta/Augusta.woff2") format("woff2");
}

@font-face {
  font-family: "DeutschGothic";
  src: url("extensions/Alcuin/resources/fonts/deutsch_gothic/Deutsch.woff2") format("woff2");
}

@font-face {
  font-family: "Ruritania";
  src: url("extensions/Alcuin/resources/fonts/ruritania/Ruritania.woff2") format("woff2");
}

@font-face {
  font-family: "NotoSans";
  src: url("extensions/Alcuin/resources/fonts/notosans/NotoSans-Regular.woff2") format("woff2");
}

.flex {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $alcuin-anthrazit;
  color: #e0fbfc;
}

a {
  color: $font-color-bright !important;

  &:hover {
    text-decoration: underline;
  }
}

h1#firstHeading {
  font-family: $font-family-serif;
  border: none;
  color: $font-color-bright;
}

.container {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}