.mw-parser-output > table.wikitable {
  > tbody > tr > td {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #a2a9b1;
    margin-bottom: -2px;
    margin-top: 1px;

    > table:nth-child(n+4) {
      display: none;
    }
  }
}

/*
@import "variables";
@import "layout";
@import "headline";
@import "content";
@import "navbar";
@import "omnibox";
@import "main";
@import "table";
@import "dropdown";
@import "network";

@font-face {
  font-family: "Augusta";
  src: url("extensions/Alcuin/resources/fonts/augusta/Augusta.woff2") format("woff2");
}

@font-face {
  font-family: "DeutschGothic";
  src: url("extensions/Alcuin/resources/fonts/deutsch_gothic/Deutsch.woff2") format("woff2");
}

@font-face {
  font-family: "Ruritania";
  src: url("extensions/Alcuin/resources/fonts/ruritania/Ruritania.woff2") format("woff2");
}

@font-face {
  font-family: "NotoSans";
  src: url("extensions/Alcuin/resources/fonts/notosans/NotoSans-Regular.woff2") format("woff2");
}

.flex {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $alcuin-anthrazit;
  color: #e0fbfc;
  font-size: 1rem;
}

a {
  color: $alcuin-orange !important;

  &:hover {
    color: $alcuin-orange-dark !important;
  }
}

h1#firstHeading {
  font-family: $font-family-sans-serif;
  border: none;
  color: $font-color-bright;
  margin: 0;
}

.container {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}

 */