input[type=button],
input#wpSave,
input#wpPreview,
.oo-ui-buttonElement-button,
.oo-ui-buttonInputWidget,
.pfSendBack,
.editHelp,
.create-btn,
.info-btn,
.delete-btn {
  display: inline-block;
  margin-right: $spacing-s;
  margin-top: $spacing-xs;
  border: 1px solid $alcuin-anthrazit;
  background-color: $alcuin-anthrazit-light;
  color: $font-color-dark !important;
  border-radius: $border-radius;

  * {
    margin: 0 !important;
    background-color: transparent !important;
    border: none !important;
    font-weight: normal !important;
    min-height: unset !important;
  }

  &:hover {
    border: 1px solid $alcuin-orange-dark;
    background-color: $alcuin-orange;
    color: $font-color-bright;
    text-decoration: none;

    a {
      color: $font-color-bright !important;
      text-decoration: none !important;
    }
  }

  a {
    color: $font-color-dark !important;
    padding: 6px 12px;
    display: block;
  }
}

input[type=button],
input#wpSave,
input#wpPreview {
  color: $font-color-dark !important;
  padding: 6px 12px;
}

.create-btn:hover {
  border: 1px solid $alcuin-anthrazit;
  background-color: $alcuin-green;
}

.delete-btn:hover {
  border: 1px solid $alcuin-anthrazit;
  background-color: $alcuin-red;
}
