.srf-datatables {
  margin: $spacing 0 0 0;

  table .headerSortUp, table .headerSortDown {
    background-color: transparent !important;
  }

  .container {
    margin: $spacing 0 0 0;
    padding: 0;
  }

  .row>[class*="span"] {
    margin-left: 0;
  }

  .smw-placeholder {
    font-family: $font-family-sans-serif;
  }
}