table.flextable {
  display: flex;
  justify-content: space-between;

  > tbody {
    flex-grow: 1;

    > tr {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      > td {
        display: block;
      }
    }
  }

  &.2col {
    > tbody {
      > tr {
        > td {
          flex-basis: 50%;
        }
      }
    }
  }

  &.3col {
    > tbody {
      > tr {
        > td {
          flex-basis: 33.33%;
        }
      }
    }
  }

  &.4col {
    > tbody {
      > tr {
        > td {
          flex-basis: 25%;
        }
      }
    }
  }
}