.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: transparent url($imgDir + "/bg_header.jpg") left top no-repeat;

  padding-left: $logo-size + $spacing-l;
  padding-right: $grid-gutter-width / 2;

  height: $logo-size;
  box-shadow: 0 0 20px 5px #000;
  z-index: 100;

  #p-logo img {
    height: $logo-size;
  }

  @media screen and (max-width: $al-breakpoint) {
    padding-left: $spacing;
    padding-right: $spacing;

    height: $logo-size-small;

    #p-logo img {
      height: $logo-size-small;
    }
  }

  .title {
    font-family: $font-family-serif;
    color: $font-color-bright;
    padding-right: 10px;
    font-size: 6.5rem;
    border-right: 50px solid $alcuin-orange;
    text-shadow: $text-shadow;

    @media screen and (max-width: $al-breakpoint) {
      font-size: 50px;
      border-right: none;
    }

    a {
      color: $font-color-bright !important;
    }

    a:hover, a:active, a:focus {
      text-decoration: none !important;
    }
  }

  .subtitle {
    color: $font-color-bright;
    margin-left: $spacing-s;
    font-size: 2rem;
    border-left: 50px solid $alcuin-anthrazit;
    padding: $spacing $spacing-s;
    text-shadow: $text-shadow;
    flex-grow: 1;
    letter-spacing: -1px;

    @media screen and (max-width: $al-breakpoint) {
      display: none;
    }
  }
}

