.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: transparent url($imgDir + "/Carafa_Kapelle;_Triumph_des_Hl_Thomas-190px.jpeg") left top repeat-x;
  padding-left: $logo-size + $spacing-l;
  padding-right: $grid-gutter-width / 2;
  height: $logo-size;
  box-shadow: 0 0 20px 5px #000;
  z-index: 100;

  > *:last-child {
    flex-grow: 1;
    text-align: right;
  }

  #p-logo img {
    height: $logo-size;
  }

  .title {
    font-family: $font-family-serif;
    color: $font-color-bright;
    padding-right: 10px;
    font-size: 6.5rem;
    border-right: 50px solid $alcuin-orange;
    text-shadow: 2px 2px $font-color-dark;

    a:hover, a:active, a:focus {
      text-decoration: none !important;
    }
  }

  .subtitle {
    color: $font-color-bright;
    margin-left: $spacing-s;
    font-size: 2rem;
    border-left: 50px solid $alcuin-anthrazit;
    padding: $spacing $spacing-s;
    text-shadow: 2px 2px $font-color-dark;
  }

  a {
    color: $alcuin-creme !important;

    &:hover {
      color: $alcuin-orange !important;
    }
  }
}

