.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: transparent url($imgDir + "/bg_header.jpg") left top repeat-x;

  padding-left: $logo-size + $spacing-l;
  padding-right: $grid-gutter-width / 2;
  height: $logo-size;
  box-shadow: 0 0 20px 5px #000;
  z-index: 100;

  #p-logo img {
    height: $logo-size;
  }

  .title {
    font-family: $font-family-serif;
    color: $font-color-bright;
    padding-right: 10px;
    font-size: 6.5rem;
    border-right: 50px solid $alcuin-orange;
    text-shadow: $text-shadow;

    a:hover, a:active, a:focus {
      text-decoration: none !important;
    }
  }

  .subtitle {
    color: $font-color-bright;
    margin-left: $spacing-s;
    font-size: 2rem;
    border-left: 50px solid $alcuin-anthrazit;
    padding: $spacing $spacing-s;
    text-shadow: $text-shadow;
    flex-grow: 1;
    letter-spacing: -1px;
  }

  .page-tools-bar {
    background-color: $alcuin-orange;
    padding: $outline-width $outline-width 0 $outline-width;
    opacity: 0.9;
    width: $navbar-width;

    nav.p-navbar {
      border-left: 1px solid $alcuin-creme;
      border-right: 1px solid $alcuin-creme;
      border-top: 1px solid $alcuin-creme;
      color: $font-color-bright;
    }
  }

  a {
    color: $alcuin-creme !important;

    &:hover {
      color: $alcuin-orange !important;
    }
  }
}

