body.page-Hauptseite {
  color: #e0fbfc;
  background: $alcuin-anthrazit url($imgDir + "/bg_page.jpg") 0 1px no-repeat;

  .row.centered-links {
    justify-content: center;
    margin-top: 195px;

    > .col {
      flex: 0 0 180px;
    }

    a {
      padding: $spacing-s;
      background-color: $alcuin-anthrazit;
      outline: $outline-width solid $alcuin-anthrazit;
      border: 1px solid $alcuin-creme;
      color: $font-color-bright;
      display: block;
      text-align: center;

      width: $navbar-width - $outline-width - 1px;

      &:hover {
        color: $alcuin-grey;
        border-color: $alcuin-grey;
        text-decoration: none;
      }
    }
  }
}