.navbar, .p-navbar {
  background-color: transparent;
  padding: 0;
}

.p-navbar.collapsible[role='navigation'] .navbar-nav {
  flex-direction: column;
  text-align: right;
}

.p-navbar .navbar-nav .nav-link {
  color: $font-color-bright;
  font-size: 1rem;
}