.navbar, .p-navbar {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.p-search {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: $alcuin-anthrazit-light;
}