.omnibox {
  #searchform {
    width: 500px;
    margin: 0 auto;
  }

  input[name="search"] {
    background-color: $alcuin-creme;
    color: $font-color-dark;
    border-radius: $border-radius !important;
    border: none;
    font-family: $font-family-serif;
    font-size: 20px;
    text-align: center;

    &:focus, &:hover {
      box-shadow: 0 0 30px 10px $alcuin-orange;
    }

    padding: $spacing;
  }

  .input-group-append {
    display: none;
  }
}

.suggestions {
  font-size: 1rem !important;
  background-color: transparent;
  color: $font-color-dark;
  display: block !important;
  margin-top: -13px !important;
  border: 1px solid $alcuin-orange !important;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: 0 !important;

  .suggestions-results, .suggestions-special {
    padding: 0.375em $spacing;
    color: $font-color-dark;
    border: none !important;
    background-color: $alcuin-creme;
  }

  .suggestions-special {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &.suggestions-result-current {
      background-color: #3d5a80;
      color: $font-color-bright;
    }
  }
}

*::placeholder {
  /* modern browser */
  color: $font-color-dark !important;
}