body.page-Hauptseite {
  .omnibox {
    input[name="search"] {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      padding: 0;
      color: $font-color-bright;

      &:focus {
        box-shadow: none;
      }
    }

    #searchform {
      width: 100%;
    }

    &:focus, &:hover {
      box-shadow: none;
    }
  }

  .suggestions {
    color: $font-color-bright;
    margin-top: 0 !important;
    border: 1px solid $alcuin-anthrazit !important;

    .suggestions-results, .suggestions-special {
      padding: 0.375em $spacing;
      color: $font-color-bright;
      border: none !important;
      background-color: $alcuin-anthrazit;
    }
  }

  *::placeholder {
    /* modern browser */
    color: $font-color-bright !important;
    font-size: 1rem;
  }
}

body:not(.page-Hauptseite) {
  .omnibox {
    margin: 0;

    #searchform {
      width: 100%;
    }

    input[name="search"] {
      background-color: transparent;
      color: $font-color-bright;
      border-radius: $border-radius !important;
      border: 1px solid $alcuin-orange;
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      text-align: center;

      &:focus, &:hover {
        box-shadow: none;
      }

      padding: $spacing-xs;
    }
  }

  *::placeholder {
    /* modern browser */
    color: $font-color-bright !important;
    font-size: 1rem;
  }
}

.omnibox .input-group-append {
  display: none;
}

.suggestions {
  font-size: 1rem !important;
  background-color: transparent;
  color: $font-color-dark;
  display: block !important;
  margin-top: -13px !important;
  border: 1px solid $alcuin-orange !important;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: 0 !important;

  .suggestions-results, .suggestions-special {
    padding: 0.375em $spacing;
    color: $font-color-dark;
    border: none !important;
    background-color: $alcuin-creme;
  }

  .suggestions-special {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &.suggestions-result-current {
      background-color: #3d5a80;
      color: $font-color-bright;
    }
  }
}

*::placeholder {
  /* modern browser */
  color: $font-color-dark !important;
}