.popupform-container {
  border: 1px solid $alcuin-orange-dark !important;
}

.popupform-innerdocument {
  body {
    padding: $spacing-s !important;

    .navbar-row {
      display: none;
    }
  }
}