.popupform-container {
  border: 1px solid $alcuin-orange-dark !important;

  width: 85vw !important;
  height: 85% !important;
  left: 0 !important;
  top: 0 !important;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.85);
}

body.mw-special-FormEdit {
  padding: $spacing-s !important;
  width: unset !important;
  height: unset !important;

  .navbar-row {
    display: none;
  }
}

div.popupform-anchor {
  left: 0 !important;
  top: 0 !important;
  margin: $spacing-xl !important;
  height: 100% !important;
}