@import "headline";
@import "layout";
@import "main_page";
@import "footer";
@import "flextable";
@import "tabs";
@import "network";
@import "moderntimeline";
@import "navbar";
@import "content";
@import "popupform";

@font-face {
  font-family: "Augusta";
  src: url("extensions/Alcuin/resources/fonts/augusta/Augusta.woff2") format("woff2");
}

@font-face {
  font-family: "NotoSans";
  src: url("extensions/Alcuin/resources/fonts/notosans/NotoSans-Regular.woff2") format("woff2");
}

body {
  font-size: $font-size-body;
}

h1, h2, h3, h4 {
  font-family: $font-family-sans-serif;
  color: $font-color-dark;
}

h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid $alcuin-anthrazit-light;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0;
}

p:empty, p br:first-child:last-child {
  display: none;
}

.tl-timeline, table, .datatable {
  margin: $spacing 0 !important;
}

caption {
  caption-side: top;
  padding: 0 0 $spacing-xxs 0;
  margin: $spacing-s 0 0 0;
  font-weight: bold;
  text-decoration: underline;
  color: $font-color-dark;
}

div.mw-parser-output {
  overflow-x: auto;

  img {
    max-width: 300px;
  }
}

a:visited {
  color: $alcuin-orange-dark;
}

fieldset {
  margin-bottom: $spacing;

  legend {
    font-size: 1.2rem;
  }
}
