table, table.wikitable  {
  max-width: unset;
  tr {
    td, th {
      padding: $spacing-xxs $spacing-xxs $spacing-xxs 0;
      vertical-align: top;
      text-align: left !important;
      border: none;
      background-color: transparent;
    }

    th {
      word-break: keep-all;
    }

    &:not(:last-child) {
      td, th {
        border-bottom: 1px solid $alcuin-anthrazit-light;
      }
    }

    td.Bearbeiten {
      
    }
  }
}

table table {
  margin: 0 !important;
}

table.wikitable {
  background-color: transparent;
  border: none;
  border-collapse: collapse;

  thead th {
    background-color: $headline-color;
    color: $headline-font-color;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid $alcuin-anthrazit-light;

    a {
      font-weight: bold;
      color: $headline-font-color !important;
    }
  }

  tbody {
    tr {
      &:hover {
        th, td {
          background-color: $alcuin-creme;
        }
      }
    }
  }
}