table, table.wikitable  {
  max-width: unset;

  tr {
    td, th {
      padding: $spacing-xs $spacing-xs $spacing-xs 0;
      vertical-align: top;
      text-align: left !important;
      border: none;
      background-color: transparent;
    }

    th {
      word-break: keep-all;
    }

    &:not(:last-child) {
      td, th {
        border-bottom: 1px solid $alcuin-anthrazit-light;
      }
    }

    td.Bearbeiten {
      
    }
  }
}

table table {
  margin: 0 !important;
}

table.wikitable {
  background-color: transparent;
  border: none;
  border-collapse: collapse;

  tbody {
    tr {
      &:hover {
        th, td {
          background-color: $alcuin-creme;
        }
      }
    }
  }

  thead th {
    background-color: $headline-color;
    color: $headline-font-color;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid $alcuin-anthrazit-light;

    a {
      font-weight: bold;
      color: $headline-font-color !important;
    }
  }
}

table.datatable.autoren {
  $iconWidth: 15px;

  th.Werke,
  th.Editionen {
    width: $iconWidth;
  }

  td.Werke.smwtype_uri,
  td.Editionen.smwtype_uri {
    a {
      font-size: 0;
      display: block;
      width: $iconWidth;
      height: $iconWidth;
      background: transparent url($imgDir + "/external-link.svg") center center no-repeat;
      background-size: $iconWidth;
    }
  }
}