table.wikitable {
  background-color: transparent;
  border: 1px solid $alcuin-anthrazit;
  border-collapse: collapse;
  margin: $spacing 0;

  tr {
    td, th {
      border: none;
      padding: 8px;
      background-color: transparent;
    }

    &:not(:last-child) {
      td, th {
        border-bottom: 1px solid $alcuin-anthrazit;
      }
    }
  }

  thead th {
    background-color: $headline-color;
    color: $headline-font-color;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid $alcuin-anthrazit;

    a {
      font-weight: normal;
      color: $headline-font-color !important;
    }
  }

  tbody {
    tr {
      &:hover td {
        background-color: $alcuin-creme;
      }
    }
  }
}