.tabs, .tabs.tabs-togglebox {
  label.tabs-label {
    background-color: $headline-color;
    color: $headline-font-color;
    border-radius: 0 !important;
    padding: $spacing-xs;
    text-align: left;
    border: none !important;
    margin: 0 !important;

    &:not(:first-of-type) {
      margin-left: $spacing-xs !important;
    }
  }

  .tabs-content, .tabs-container {
    padding: $spacing-xs $spacing-xs $spacing-xs 0 !important;
    background-color: $content-color;
    color: $content-font-color;
    border-radius: 0 !important;
    border: none !important;
  }
}

.tabs.tabs-tabbox {
  .tabs-input + label.tabs-label {
    border: 1px solid $headline-color !important;
  }

  .tabs-input:checked + .tabs-label,
  .tabs-input-0:checked + .tabs-input-1 + .tabs-label {
    border: 1px solid $headline-color !important;
    color: $content-font-color;
  }
}

