.tabs, .tabs.tabs-togglebox {
  label.tabs-label {
    background-color: $alcuin-anthrazit;
    border-radius: 3px !important;
    color: #fff;
    padding: $spacing-xs;
    text-align: left;
    border: none !important;
    margin: 0 !important;

    &:not(:first-of-type) {
      margin-left: $spacing-xs !important;
    }

    &:hover {
      border: 1px solid $alcuin-orange-dark;
      background-color: $alcuin-orange;
      color: $font-color-bright;
      text-decoration: none;
    }
  }

  .tabs-content, .tabs-container {
    padding: $spacing-xs $spacing-xs $spacing-xs 0 !important;
    background-color: $content-color;
    color: $content-font-color;
    border-radius: 0 !important;
    border: none !important;
  }
}

.tabs.tabs-tabbox {
  border: 1px solid $alcuin-anthrazit-light;
  padding: $spacing-xxs;

  .tabs-input + label.tabs-label {
    border: 1px solid #fff !important;
    padding: $spacing-xs $spacing-s;
  }

  .tabs-input:checked + .tabs-label,
  .tabs-input-0:checked + .tabs-input-1 + .tabs-label {
    border: 1px solid $alcuin-orange-dark;
    background-color: $alcuin-orange;
    color: $font-color-bright;
    text-decoration: none;
  }
}

