$grid-gutter-width: 100px;
$spacing-l: 50px;
$spacing: 30px;
$spacing-s: 18px;
$spacing-xs: 10px;
$border-radius: 8px;
$imgDir: 'extensions/Alcuin/resources/images';
$logo-size: 190px;
$logo-size-mainpage: 703px;
$alcuin-brown: #A97C73;
$alcuin-grey: #999;
$alcuin-red: #AF3E4D;
$alcuin-orange: #ee6c4d;
$alcuin-orange-dark: #ab2e11;
$alcuin-anthrazit: #293241;
$alcuin-creme: #e0fbfc;
$ur-color: #9d9d9c;
$alcuin-orange: #ec6200;
$border-color: $alcuin-orange;
$font-color-dark: #333;
$font-color-bright: $alcuin-creme;
$font-family-serif: "Augusta", serif;
$font-family-sans-serif: "NotoSans";
$font-size-body: 1rem;