$page-max-width: 1920px;
$grid-gutter-width: 100px;
$spacing-l: 50px;
$spacing-xl: 100px;
$spacing: 30px;
$spacing-s: 18px;
$spacing-xs: 10px;
$spacing-xxs: 8px;
$border-radius: 8px;
$imgDir: 'extensions/Alcuin/resources/images';
$logo-size: 290px;
$logo-size-mainpage: 703px;
$alcuin-brown: #A97C73;
$alcuin-grey: #999;
$alcuin-red: #AF3E4D;
$alcuin-orange: #ec6200;
$alcuin-orange-dark: #ab2e11;
$alcuin-anthrazit: #293241;
$alcuin-anthrazit-light: rgba(41, 50, 65, 0.25);
$alcuin-creme: #ECECEC;
$ur-color: #9d9d9c;
$border-color: $alcuin-orange;
$font-color-dark: #333;
$font-color-bright: #fff;
$font-family-serif: "Augusta", serif;
$font-family-sans-serif: "NotoSans";
$font-size-body: 1rem;

$text-shadow: 2px 2px $font-color-dark;

$navbar-width: 180px;
$outline-width: 9px;

$headline-color:  #fff;
$headline-font-color: $font-color-dark;
$content-color: #fff;
$content-font-color: $font-color-dark;