$page-max-width: 1920px;
$grid-gutter-width: 100px;
$al-breakpoint: 1105px;
$spacing-l: 50px;
$spacing-xl: 100px;
$spacing: 30px;
$spacing-s: 18px;
$spacing-xs: 10px;
$spacing-xxs: 8px;
$border-radius: 8px;
$imgDir: 'extensions/Alcuin/resources/images';
$logo-size: 290px;
$logo-size-small: 160px;
$logo-size-mainpage: 703px;
$alcuin-brown: #A97C73;
$alcuin-grey: #999;
$alcuin-red: #AF3E4D;
$alcuin-orange: #ec6200;
$alcuin-orange-dark: #ab2e11;
$alcuin-anthrazit: #293241;
$alcuin-anthrazit-light: rgba(41, 50, 65, 0.25);
$alcuin-creme: #ECECEC;
$ur-color: #9d9d9c;
$border-color: $alcuin-orange;
$font-color-dark: #333;
$font-color-bright: #fff;
$font-family-serif: "Augusta", serif;
$font-family-sans-serif: "NotoSans";
$font-size-body: 13px;

$text-shadow: 2px 2px $font-color-dark;

$navbar-width: 180px;
$outline-width: 9px;

$headline-color:  #fff;
$headline-font-color: $font-color-dark;
$content-color: #fff;
$content-font-color: $font-color-dark;

//overwritten
$link-color: $alcuin-anthrazit;
$navbar-light-color: $alcuin-anthrazit;
$navbar-light-disabled-color: $alcuin-anthrazit;
$navbar-light-hover-color: $alcuin-anthrazit-light;
$navbar-light-toggler-border-color: $alcuin-anthrazit;
$theme-colors: ("primary": $alcuin-orange, "secondary": $alcuin-brown, "success": #28a745, "info": #17a2b8, "warning": #ffc107, "danger": #dc3545, "light": $alcuin-anthrazit-light, "dark": $alcuin-anthrazit, "error": #dc3545, "darker": #ced4da);
$font-family-base: $font-family-sans-serif;
